<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <form method="POST" action="/team">
    <p>Team Name: <input type="text" id="name"/></p>
    <p>Coach: <input type="text" id="coach"/></p>
    <p>Point Guard: <input type="text" id="pg"/></p>
    <p>Shooting Guard: <input type="text" id="sg"/></p>
    <p>Small Forward: <input type="text" id="sf"/></p>
    <p>Power Forward: <input type="text" id="pf"/></p>
    <p>Center: <input type="text" id="c"/></p>
    <input type="Submit" id="Submit"/>
  </form>
 </head>
 <body>
 </body>
</html>
